{% include 'master.html' %}

{% block 'master' %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3" style="text-align: center">
                        <label for="exampleInputEmail1" class="form-label">UserName</label>
                        <input type="text" name="t1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3" style="text-align: center">
                        <label for="exampleInputPassword1" class="form-label" >Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="t2">
                    </div>
                    <div class="mb-3 form-check" style="text-align: center">
                        <label class="form-check-label" for="exampleCheck1"><a href="#">Forget Password</a></label>
                    </div>
                    <div class="mb-3" style="text-align: center">
                        <button type="submit" class="btn btn-primary" style="background-color: black">Sign In</button>
                        <a href="#"><button type="button" class="btn btn-primary" style="background-color: black">Sign UP</button></a>
                    </div>
                    </form>
                <div class="mb-3 form-check" style="text-align: center;color: red">
                        <label class="form-check-label" for="exampleCheck1">Invalid Username Or Password</label>
                    </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}